<div class="container">
    <h3 class="pt-3">Registration Form</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <H6>Name:</H6>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" formControlName="firstName"/>
            <small *ngIf="!f.firstName.invalid || f.firstName.untouched">First Name</small>
            <div class="text-danger" *ngIf="f.firstName.invalid &&(f.firstName.dirty || f.firstName.touched)">
                <small *ngIf="f.firstName.errors.required">First Name is required</small>
                <small *ngIf="f.firstName.errors.maxlength">First Name can be max 32 characters long.</small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" formControlName="lastName">
            <small *ngIf="!f.lastName.invalid || f.lastName.untouched">Last Name</small>
            <div class="text-danger" *ngIf="f.lastName.invalid &&(f.lastName.dirty || f.lastName.touched)">
                <small *ngIf="f.lastName.errors.required">Last Name is required</small>
                <small *ngIf="f.lastName.errors.maxlength">Last Name can be max 32 characters long.</small>
            </div>
          </div>
          
        </div>

        <H6>E-mail:</H6>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="email" class="form-control" formControlName="email" placeholder="ex: myname@example.com">
            <div class="text-danger" *ngIf="f.email.invalid &&(f.email.dirty || f.email.touched)">
                <small *ngIf="f.email.errors.required">Email is required</small>
                <small *ngIf="f.email.errors.email">Please provide a valid email address</small>
            </div>
          </div>  
        </div>

        <h6>Phone Number:</h6>
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="text" class="form-control" formControlName="areaCode">
                <small *ngIf="!f.areaCode.invalid || f.areaCode.untouched">Area code</small>
                <div class="text-danger" *ngIf="f.areaCode.invalid && (f.areaCode.dirty || f.areaCode.touched)">
                    <small *ngIf="f.areaCode.errors.required">Area Code is required</small>
                    <small *ngIf="f.areaCode.errors.pattern">Please provide a valid area code</small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" formControlName="phoneNumber">
                <small *ngIf="!f.phoneNumber.invalid || f.phoneNumber.untouched">Phone Number</small>
                <div class="text-danger" *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)">
                    <small *ngIf="f.phoneNumber.errors.required">Phone number is required</small>
                    <small *ngIf="f.phoneNumber.errors.pattern">Please provide a valid phone number</small>
                </div>
            </div>
        </div>

        <h6>Password:</h6>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="password" class="form-control" formControlName="password">
                <small *ngIf="!f.password.invalid || f.password.untouched">password</small>
                <div class="text-danger" *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                    <small *ngIf="f.password.errors.required">Password is required</small>
                    <small *ngIf="f.password.errors.minlength">Password must be at least 8 characters long.</small>
                    <small *ngIf="f.password.errors.maxlength">Password can be max 128 characters long.</small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" formControlName="confirmPassword">
                <small *ngIf="!f.confirmPassword.invalid || f.confirmPassword.untouched">Confirm password</small>
                <div class="text-danger" *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                    <small *ngIf="f.confirmPassword.errors.required">Ponfirm password is required</small>
                    <small *ngIf="f.confirmPassword.errors.minlength">Password must be at least 8 characters long.</small>
                    <small *ngIf="f.confirmPassword.errors.maxlength">Password can be max 128 characters long.</small>
                    <small *ngIf="f.confirmPassword.errors.mustMatch">Password must match</small>
                </div>
            </div>
        </div>

        <h6>Address:</h6>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" formControlName="address">
                <small *ngIf="!f.address.invalid || f.address.untouched">Street Address</small>
                <div class="text-danger" *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
                    <small *ngIf="f.address.errors.required">Street Address is required</small>
                </div>
                <input type="text" class="form-control" formControlName="address2">
                <small *ngIf="!f.address2.invalid || f.address2.untouched">Street Address Line 2</small>
                <div class="text-danger" *ngIf="f.address2.invalid && (f.address2.dirty || f.address2.touched)">
                    <small *ngIf="f.address2.errors.required">Street Address Line 2 is required</small>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" formControlName="city">
                        <small *ngIf="!f.city.invalid || f.city.untouched">City</small>
                        <div class="text-danger" *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)">
                            <small *ngIf="f.city.errors.required">City is required</small>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" formControlName="state">
                        <small *ngIf="!f.state.invalid || f.state.untouched">State/Province</small>
                        <div class="text-danger" *ngIf="f.state.invalid && (f.state.dirty || f.state.touched)">
                            <small *ngIf="f.state.errors.required">State is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" formControlName="zipCode">
                        <small *ngIf="!f.zipCode.invalid || f.zipCode.untouched">Posted/Zip Code</small>
                        <div class="text-danger" *ngIf="f.zipCode.invalid && (f.zipCode.dirty || f.zipCode.touched)">
                            <small *ngIf="f.zipCode.errors.required">Zip code is required</small>
                            <small *ngIf="f.zipCode.errors.pattern">Please provide a valid zip code</small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <select class="form-control" formControlName="country">
                            <option selected>Please Select</option>
                            <option>Cambodia</option>
                            <option>China</option>
                            <option>United State</option>
                        </select>
                        <small *ngIf="!f.country.invalid || f.country.untouched">Country</small>
                        <div class="text-danger" *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)">
                            <small *ngIf="f.country.errors.required">Country is required</small>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <h6>Birthdate:</h6>
        <div class="form-row">
            <div class="form-group col-md-4">
                <select class="form-control" formControlName="month">
                    <option selected></option>
                    <option>janunary</option>
                    <option>Febuary</option>
                    <option>March</option>
                </select>
                <div class="text-danger" *ngIf="f.month.invalid && (f.month.dirty || f.month.touched)">
                    <small *ngIf="f.month.errors.required">Month is required</small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <select class="form-control" formControlName="day">
                    <option selected></option>
                    <option>28</option>
                    <option>27</option>
                    <option>26</option>
                </select>
                <div class="text-danger" *ngIf="f.month.invalid && (f.day.dirty || f.day.touched)">
                    <small *ngIf="f.day.errors.required">Day is required</small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <select class="form-control" formControlName="year">
                    <option selected></option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
                <div class="text-danger" *ngIf="f.month.invalid && (f.year.dirty || f.year.touched)">
                    <small *ngIf="f.year.errors.required">Year is required</small>
                </div>
            </div>
        </div>

        <div></div>
        <h6>Where did you hear about us?</h6>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    A Friend or Colleuge
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Google
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                <label class="form-check-label" for="defaultCheck3">
                    Blog Post
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                <label class="form-check-label" for="defaultCheck4">
                    New Article
                </label>
            </div>
        </div>

        <br>
        <h5>Membership Rules</h5>
        <hr>
        <br>
        <div>
            <p>1. Membership is available to anyone 18 years of ages or order</p>
            <p>2. You Promise Not to use to contact any fradulent or business activity or have more than one Member Account at any time</p>
        </div>
        <br>
        <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="membership">
              <label class="form-check-label">
                I have read, understood, and accepted the rules for our membership.
              </label>
            <div class="text-danger">
                <small *ngIf="submitted && f.membership.errors.required">Membership is required</small>
            </div>
            </div>
        </div>

        <br>
        <h5>Privacy Policy</h5>
        <hr>
        <br>
        <p>Please reach out and read our Privacy Policy in order to understand how your information is used 
            and shared, and check below if you accept the policy
        </p>
        <br>
        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" formControlName="privacy">
            <label class="form-check-label">
                I have read, understood, and accepted the PRIVACRY POLICY for membership.
            </label>
            <div class="text-danger">
                <small *ngIf="submitted && f.privacy.errors.required">Privacy is required</small>
            </div>
        </div>

        <div class="text-center p-3">
            <em class="text-center">Once you submit your application, we will contact you shortly to complete
                your membership application
            </em>
        </div>
        <p class="text-center">Thank you</p>
        <hr>
        <p class="text-center">
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success">Submit Application</button>
        </p>
        <br>
    </form>
</div>